//Naeun Kim | 2018.02.01
//add variable and mixin | 2018.07.09 

$imageHeight: 368px;
$desktop: $imageHeight;
$tablet: $imageHeight * 0.88;
$mobile: $imageHeight * 0.625;

@mixin keyframes( $animationName )
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @-ms-keyframes #{$animationName} { 
    	@content; 
    }
    @keyframes #{$animationName} {
        @content;
    }
}

$position: 0 !default;
$transperant: 0 !default;
$zindex: 1 !default;

@mixin sliderValue($position, $transperant, $zindex:"") {
	top: $position;
	opacity: $transperant;
	z-index: unquote($zindex);
}

/* Slide Animation */

@include keyframes(cycle01) {
	0% { top: 0; }
	10% { top: 0; }
	40% { @include sliderValue(0, 1, 0) }
	50% { @include sliderValue($desktop, 0, 0) }
	51% { @include sliderValue(-$desktop, 0, -1) }
	80% { @include sliderValue(-$desktop, 0, 0) }
	90% { @include sliderValue(0, 1) }
	100% { @include sliderValue(0, 1) }
}

@include keyframes(cycle02) {
	0%  { @include sliderValue(-$desktop, 0) }
	40% { @include sliderValue(-$desktop, 0) }
	50% { @include sliderValue(0, 1) }
	60% { @include sliderValue(0, 1) }
	80% { @include sliderValue(0, 1, 0) }
	90% { @include sliderValue($desktop, 0, 0) }
	91% { @include sliderValue(-$desktop, 0, -1) }
	100%{ @include sliderValue(-$desktop, 0, -1) }
}

@include keyframes(cycle03) {
	0% { top: 0; }
	18% { top: 0; }
	48% { @include sliderValue(0, 1, 0) }
	58% { @include sliderValue($desktop, 0, 0) }
	59% { @include sliderValue(-$desktop, 0, -1) }
	88% { @include sliderValue(-$desktop, 0, 0) }
	98% { @include sliderValue(0, 1) }
	100% { @include sliderValue(0, 1) }
}


@include keyframes(cycle04) {
	0%  { @include sliderValue(-$desktop, 0) }
	48% { @include sliderValue(-$desktop, 0) }
	58% { @include sliderValue(0, 1) }
	68% { @include sliderValue(0, 1) }
	88% { @include sliderValue(0, 1, 0) }
	98% { @include sliderValue($desktop, 0, 0) }
	99% { @include sliderValue(-$desktop, 0, -1) }
	100%{ @include sliderValue(-$desktop, 0, -1) }
}

@include keyframes(cycle05) {
	0% { top: 0; }
	13% { top: 0; }
	43% { @include sliderValue(0, 1, 0) }
	53% { @include sliderValue($desktop, 0, 0) }
	54% { @include sliderValue(-$desktop, 0, -1) }
	83% { @include sliderValue(-$desktop, 0, 0) }
	93% { @include sliderValue(0, 1) }
	100% { @include sliderValue(0, 1) }
}


@include keyframes(cycle06) {
	0%  { @include sliderValue(-$desktop, 0) }
	43% { @include sliderValue(-$desktop, 0) }
	53% { @include sliderValue(0, 1) }
	63% { @include sliderValue(0, 1) }
	83% { @include sliderValue(0, 1, 0) }
	93% { @include sliderValue($desktop, 0, 0) }
	94% { @include sliderValue(-$desktop, 0, -1) }
	100%{ @include sliderValue(-$desktop, 0, -1) }
}


@media all and (max-width: 1280px) {
					
	@include keyframes(cycle01) {
		0% { top: 0; }
		10% { top: 0; }
		40% { @include sliderValue(0, 1, 0) }
		50% { @include sliderValue($tablet, 0, 0) }
		51% { @include sliderValue(-$tablet, 0, -1) }
		80% { @include sliderValue(-$tablet, 0, 0) }
		90% { @include sliderValue(0, 1) }
		100% { @include sliderValue(0, 1) }
	}

	@include keyframes(cycle02) {
		0%  { @include sliderValue(-$tablet, 0) }
		40% { @include sliderValue(-$tablet, 0) }
		50% { @include sliderValue(0, 1) }
		60% { @include sliderValue(0, 1) }
		80% { @include sliderValue(0, 1, 0) }
		90% { @include sliderValue($tablet, 0, 0) }
		91% { @include sliderValue(-$tablet, 0, -1) }
		100%{ @include sliderValue(-$tablet, 0, -1) }
	}

	@include keyframes(cycle03) {
		0% { top: 0; }
		18% { top: 0; }
		48% { @include sliderValue(0, 1, 0) }
		58% { @include sliderValue($tablet, 0, 0) }
		59% { @include sliderValue(-$tablet, 0, -1) }
		88% { @include sliderValue(-$tablet, 0, 0) }
		98% { @include sliderValue(0, 1) }
		100% { @include sliderValue(0, 1) }
	}


	@include keyframes(cycle04) {
		0%  { @include sliderValue(-$tablet, 0) }
		48% { @include sliderValue(-$tablet, 0) }
		58% { @include sliderValue(0, 1) }
		68% { @include sliderValue(0, 1) }
		88% { @include sliderValue(0, 1, 0) }
		98% { @include sliderValue($tablet, 0, 0) }
		99% { @include sliderValue(-$tablet, 0, -1) }
		100%{ @include sliderValue(-$tablet, 0, -1) }
	}

	@include keyframes(cycle05) {
		0% { top: 0; }
		13% { top: 0; }
		43% { @include sliderValue(0, 1, 0) }
		53% { @include sliderValue($tablet, 0, 0) }
		54% { @include sliderValue(-$tablet, 0, -1) }
		83% { @include sliderValue(-$tablet, 0, 0) }
		93% { @include sliderValue(0, 1) }
		100% { @include sliderValue(0, 1) }
	}


	@include keyframes(cycle06) {
		0%  { @include sliderValue(-$tablet, 0) }
		43% { @include sliderValue(-$tablet, 0) }
		53% { @include sliderValue(0, 1) }
		63% { @include sliderValue(0, 1) }
		83% { @include sliderValue(0, 1, 0) }
		93% { @include sliderValue($tablet, 0, 0) }
		94% { @include sliderValue(-$tablet, 0, -1) }
		100%{ @include sliderValue(-$tablet, 0, -1) }
	}


}


@media all and (max-width: 960px) {
					
	@include keyframes(cycle01) {
		0% { top: 0; }
		10% { top: 0; }
		40% { @include sliderValue(0, 1, 0) }
		50% { @include sliderValue($mobile, 0, 0) }
		51% { @include sliderValue(-$mobile, 0, -1) }
		80% { @include sliderValue(-$mobile, 0, 0) }
		90% { @include sliderValue(0, 1)}
		100% { @include sliderValue(0, 1)}
	}

	@include keyframes(cycle02) {
		0%  { @include sliderValue(-$mobile, 0) }
		40% { @include sliderValue(-$mobile, 0) }
		50% { @include sliderValue(0, 1) }
		60% { @include sliderValue(0, 1) }
		80% { @include sliderValue(0, 1, 0) }
		90% { @include sliderValue($mobile, 0, 0) }
		91% { @include sliderValue(-$mobile, 0, -1) }
		100%{ @include sliderValue(-$mobile, 0, -1) }
	}

	@include keyframes(cycle03) {
		0% { top: 0; }
		18% { top: 0; }
		48% { @include sliderValue(0, 1, 0) }
		58% { @include sliderValue($mobile, 0, 0) }
		59% { @include sliderValue(-$mobile, 0, -1) }
		88% { @include sliderValue(-$mobile, 0, 0) }
		98% { @include sliderValue(0, 1) }
		100% { @include sliderValue(0, 1) }
	}


	@include keyframes(cycle04) {
		0%  { @include sliderValue(-$mobile, 0) }
		48% { @include sliderValue(-$mobile, 0) }
		58% { @include sliderValue(0, 1) }
		68% { @include sliderValue(0, 1) }
		88% { @include sliderValue(0, 1, 0) }
		98% { @include sliderValue($mobile, 0, 0) }
		99% { @include sliderValue(-$mobile, 0, -1) }
		100%{ @include sliderValue(-$mobile, 0, -1) }
	}

	@include keyframes(cycle05) {
		0% { top: 0; }
		13% { top: 0; }
		43% { @include sliderValue(0, 1, 0) }
		53% { @include sliderValue($mobile, 0, 0) }
		54% { @include sliderValue(-$mobile, 0, -1) }
		83% { @include sliderValue(-$mobile, 0, 0) }
		93% { @include sliderValue(0, 1) }
		100% { @include sliderValue(0, 1) }
	}


	@include keyframes(cycle06) {
		0%  { @include sliderValue(-$mobile, 0) }
		43% { @include sliderValue(-$mobile, 0) }
		53% { @include sliderValue(0, 1) }
		63% { @include sliderValue(0, 1) }
		83% { @include sliderValue(0, 1, 0) }
		93% { @include sliderValue($mobile, 0, 0) }
		94% { @include sliderValue(-$mobile, 0, -1) }
		100%{ @include sliderValue(-$mobile, 0, -1) }
	}


}


