/* Slide Animation */
@-webkit-keyframes cycle01 {
  0% {
    top: 0; }
  10% {
    top: 0; }
  40% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  50% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  51% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  80% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  90% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-moz-keyframes cycle01 {
  0% {
    top: 0; }
  10% {
    top: 0; }
  40% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  50% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  51% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  80% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  90% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-o-keyframes cycle01 {
  0% {
    top: 0; }
  10% {
    top: 0; }
  40% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  50% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  51% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  80% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  90% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-ms-keyframes cycle01 {
  0% {
    top: 0; }
  10% {
    top: 0; }
  40% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  50% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  51% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  80% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  90% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@keyframes cycle01 {
  0% {
    top: 0; }
  10% {
    top: 0; }
  40% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  50% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  51% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  80% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  90% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-webkit-keyframes cycle02 {
  0% {
    top: -368px;
    opacity: 0; }
  40% {
    top: -368px;
    opacity: 0; }
  50% {
    top: 0px;
    opacity: 1; }
  60% {
    top: 0px;
    opacity: 1; }
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  90% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  91% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-moz-keyframes cycle02 {
  0% {
    top: -368px;
    opacity: 0; }
  40% {
    top: -368px;
    opacity: 0; }
  50% {
    top: 0px;
    opacity: 1; }
  60% {
    top: 0px;
    opacity: 1; }
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  90% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  91% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-o-keyframes cycle02 {
  0% {
    top: -368px;
    opacity: 0; }
  40% {
    top: -368px;
    opacity: 0; }
  50% {
    top: 0px;
    opacity: 1; }
  60% {
    top: 0px;
    opacity: 1; }
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  90% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  91% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-ms-keyframes cycle02 {
  0% {
    top: -368px;
    opacity: 0; }
  40% {
    top: -368px;
    opacity: 0; }
  50% {
    top: 0px;
    opacity: 1; }
  60% {
    top: 0px;
    opacity: 1; }
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  90% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  91% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@keyframes cycle02 {
  0% {
    top: -368px;
    opacity: 0; }
  40% {
    top: -368px;
    opacity: 0; }
  50% {
    top: 0px;
    opacity: 1; }
  60% {
    top: 0px;
    opacity: 1; }
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  90% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  91% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes cycle03 {
  0% {
    top: 0; }
  18% {
    top: 0; }
  48% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  58% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  59% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  88% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  98% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-moz-keyframes cycle03 {
  0% {
    top: 0; }
  18% {
    top: 0; }
  48% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  58% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  59% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  88% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  98% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-o-keyframes cycle03 {
  0% {
    top: 0; }
  18% {
    top: 0; }
  48% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  58% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  59% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  88% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  98% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-ms-keyframes cycle03 {
  0% {
    top: 0; }
  18% {
    top: 0; }
  48% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  58% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  59% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  88% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  98% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@keyframes cycle03 {
  0% {
    top: 0; }
  18% {
    top: 0; }
  48% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  58% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  59% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  88% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  98% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-webkit-keyframes cycle04 {
  0% {
    top: -368px;
    opacity: 0; }
  48% {
    top: -368px;
    opacity: 0; }
  58% {
    top: 0px;
    opacity: 1; }
  68% {
    top: 0px;
    opacity: 1; }
  88% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  98% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  99% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-moz-keyframes cycle04 {
  0% {
    top: -368px;
    opacity: 0; }
  48% {
    top: -368px;
    opacity: 0; }
  58% {
    top: 0px;
    opacity: 1; }
  68% {
    top: 0px;
    opacity: 1; }
  88% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  98% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  99% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-o-keyframes cycle04 {
  0% {
    top: -368px;
    opacity: 0; }
  48% {
    top: -368px;
    opacity: 0; }
  58% {
    top: 0px;
    opacity: 1; }
  68% {
    top: 0px;
    opacity: 1; }
  88% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  98% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  99% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-ms-keyframes cycle04 {
  0% {
    top: -368px;
    opacity: 0; }
  48% {
    top: -368px;
    opacity: 0; }
  58% {
    top: 0px;
    opacity: 1; }
  68% {
    top: 0px;
    opacity: 1; }
  88% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  98% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  99% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@keyframes cycle04 {
  0% {
    top: -368px;
    opacity: 0; }
  48% {
    top: -368px;
    opacity: 0; }
  58% {
    top: 0px;
    opacity: 1; }
  68% {
    top: 0px;
    opacity: 1; }
  88% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  98% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  99% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes cycle05 {
  0% {
    top: 0; }
  13% {
    top: 0; }
  43% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  53% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  54% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  83% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  93% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-moz-keyframes cycle05 {
  0% {
    top: 0; }
  13% {
    top: 0; }
  43% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  53% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  54% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  83% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  93% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-o-keyframes cycle05 {
  0% {
    top: 0; }
  13% {
    top: 0; }
  43% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  53% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  54% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  83% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  93% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-ms-keyframes cycle05 {
  0% {
    top: 0; }
  13% {
    top: 0; }
  43% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  53% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  54% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  83% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  93% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@keyframes cycle05 {
  0% {
    top: 0; }
  13% {
    top: 0; }
  43% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  53% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  54% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  83% {
    top: -368px;
    opacity: 0;
    z-index: 0; }
  93% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }
@-webkit-keyframes cycle06 {
  0% {
    top: -368px;
    opacity: 0; }
  43% {
    top: -368px;
    opacity: 0; }
  53% {
    top: 0px;
    opacity: 1; }
  63% {
    top: 0px;
    opacity: 1; }
  83% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  93% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  94% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-moz-keyframes cycle06 {
  0% {
    top: -368px;
    opacity: 0; }
  43% {
    top: -368px;
    opacity: 0; }
  53% {
    top: 0px;
    opacity: 1; }
  63% {
    top: 0px;
    opacity: 1; }
  83% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  93% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  94% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-o-keyframes cycle06 {
  0% {
    top: -368px;
    opacity: 0; }
  43% {
    top: -368px;
    opacity: 0; }
  53% {
    top: 0px;
    opacity: 1; }
  63% {
    top: 0px;
    opacity: 1; }
  83% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  93% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  94% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@-ms-keyframes cycle06 {
  0% {
    top: -368px;
    opacity: 0; }
  43% {
    top: -368px;
    opacity: 0; }
  53% {
    top: 0px;
    opacity: 1; }
  63% {
    top: 0px;
    opacity: 1; }
  83% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  93% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  94% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@keyframes cycle06 {
  0% {
    top: -368px;
    opacity: 0; }
  43% {
    top: -368px;
    opacity: 0; }
  53% {
    top: 0px;
    opacity: 1; }
  63% {
    top: 0px;
    opacity: 1; }
  83% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  93% {
    top: 368px;
    opacity: 0;
    z-index: 0; }
  94% {
    top: -368px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -368px;
    opacity: 0;
    z-index: -1; } }
@media all and (max-width: 1280px) {
  @-webkit-keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-moz-keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-o-keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-ms-keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-webkit-keyframes cycle02 {
    0% {
      top: -325px;
      opacity: 0; }
    40% {
      top: -325px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-moz-keyframes cycle02 {
    0% {
      top: -325px;
      opacity: 0; }
    40% {
      top: -325px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-o-keyframes cycle02 {
    0% {
      top: -325px;
      opacity: 0; }
    40% {
      top: -325px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-ms-keyframes cycle02 {
    0% {
      top: -325px;
      opacity: 0; }
    40% {
      top: -325px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @keyframes cycle02 {
    0% {
      top: -325px;
      opacity: 0; }
    40% {
      top: -325px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-webkit-keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-moz-keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-o-keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-ms-keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-webkit-keyframes cycle04 {
    0% {
      top: -325px;
      opacity: 0; }
    48% {
      top: -325px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-moz-keyframes cycle04 {
    0% {
      top: -325px;
      opacity: 0; }
    48% {
      top: -325px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-o-keyframes cycle04 {
    0% {
      top: -325px;
      opacity: 0; }
    48% {
      top: -325px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-ms-keyframes cycle04 {
    0% {
      top: -325px;
      opacity: 0; }
    48% {
      top: -325px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @keyframes cycle04 {
    0% {
      top: -325px;
      opacity: 0; }
    48% {
      top: -325px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-webkit-keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-moz-keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-o-keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-ms-keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -325px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-webkit-keyframes cycle06 {
    0% {
      top: -325px;
      opacity: 0; }
    43% {
      top: -325px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-moz-keyframes cycle06 {
    0% {
      top: -325px;
      opacity: 0; }
    43% {
      top: -325px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-o-keyframes cycle06 {
    0% {
      top: -325px;
      opacity: 0; }
    43% {
      top: -325px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @-ms-keyframes cycle06 {
    0% {
      top: -325px;
      opacity: 0; }
    43% {
      top: -325px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } }
  @keyframes cycle06 {
    0% {
      top: -325px;
      opacity: 0; }
    43% {
      top: -325px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 325px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -325px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1; } } }
@media all and (max-width: 960px) {
  @-webkit-keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-moz-keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-o-keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-ms-keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @keyframes cycle01 {
    0% {
      top: 0; }
    10% {
      top: 0; }
    40% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    50% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    51% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    80% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    90% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-webkit-keyframes cycle02 {
    0% {
      top: -230px;
      opacity: 0; }
    40% {
      top: -230px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-moz-keyframes cycle02 {
    0% {
      top: -230px;
      opacity: 0; }
    40% {
      top: -230px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-o-keyframes cycle02 {
    0% {
      top: -230px;
      opacity: 0; }
    40% {
      top: -230px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-ms-keyframes cycle02 {
    0% {
      top: -230px;
      opacity: 0; }
    40% {
      top: -230px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @keyframes cycle02 {
    0% {
      top: -230px;
      opacity: 0; }
    40% {
      top: -230px;
      opacity: 0; }
    50% {
      top: 0px;
      opacity: 1; }
    60% {
      top: 0px;
      opacity: 1; }
    80% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    90% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    91% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-webkit-keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-moz-keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-o-keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-ms-keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @keyframes cycle03 {
    0% {
      top: 0; }
    18% {
      top: 0; }
    48% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    58% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    59% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    88% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    98% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-webkit-keyframes cycle04 {
    0% {
      top: -230px;
      opacity: 0; }
    48% {
      top: -230px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-moz-keyframes cycle04 {
    0% {
      top: -230px;
      opacity: 0; }
    48% {
      top: -230px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-o-keyframes cycle04 {
    0% {
      top: -230px;
      opacity: 0; }
    48% {
      top: -230px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-ms-keyframes cycle04 {
    0% {
      top: -230px;
      opacity: 0; }
    48% {
      top: -230px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @keyframes cycle04 {
    0% {
      top: -230px;
      opacity: 0; }
    48% {
      top: -230px;
      opacity: 0; }
    58% {
      top: 0px;
      opacity: 1; }
    68% {
      top: 0px;
      opacity: 1; }
    88% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    98% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    99% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-webkit-keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-moz-keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-o-keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-ms-keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @keyframes cycle05 {
    0% {
      top: 0; }
    13% {
      top: 0; }
    43% {
      top: 0;
      opacity: 1;
      z-index: 0; }
    53% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    54% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    83% {
      top: -230px;
      opacity: 0;
      z-index: 0; }
    93% {
      top: 0;
      opacity: 1; }
    100% {
      top: 0;
      opacity: 1; } }
  @-webkit-keyframes cycle06 {
    0% {
      top: -230px;
      opacity: 0; }
    43% {
      top: -230px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-moz-keyframes cycle06 {
    0% {
      top: -230px;
      opacity: 0; }
    43% {
      top: -230px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-o-keyframes cycle06 {
    0% {
      top: -230px;
      opacity: 0; }
    43% {
      top: -230px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @-ms-keyframes cycle06 {
    0% {
      top: -230px;
      opacity: 0; }
    43% {
      top: -230px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } }
  @keyframes cycle06 {
    0% {
      top: -230px;
      opacity: 0; }
    43% {
      top: -230px;
      opacity: 0; }
    53% {
      top: 0px;
      opacity: 1; }
    63% {
      top: 0px;
      opacity: 1; }
    83% {
      top: 0px;
      opacity: 1;
      z-index: 0; }
    93% {
      top: 230px;
      opacity: 0;
      z-index: 0; }
    94% {
      top: -230px;
      opacity: 0;
      z-index: -1; }
    100% {
      top: -230px;
      opacity: 0;
      z-index: -1; } } }

/*# sourceMappingURL=responsive-keyframe.css.map */
